*.mtar
node_modules
*/yarn.lock
package-lock.json
dist/
deployer/resources/
mta_archives
*.zip
resources/

diagrams/
*.pptx
sap-btp-icon-collection/
.DS_Store
build
*/webapp/*
*/webapp/xs-app.json
*.env*
!.env.production
standalone-approuter-html5-mta-ui5webcomponents/Makefile_20221022032924.mta
